{% extends 'base.html.twig' %}

{% block title %}Institut index{% endblock %}

{% block body %}
    <h1>Institut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for institut in instituts %}
            <tr>
                <td>{{ institut.id }}</td>
                <td>{{ institut.nomi }}</td>
                <td>
                    <a href="{{ path('app_institut_show', {'id': institut.id}) }}">show</a>
                    <a href="{{ path('app_institut_edit', {'id': institut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_institut_new') }}">Create new</a>
{% endblock %}
